*
  box-sizing: border-box

.hero-image
  margin: 0
  width: 100vw
  height: 100vh
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.main-search-wrapper
  max-width: 800px
  width: 100%
  padding: 2rem
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  color: white
  .text
    max-width: 500px
    padding: 1rem 0
  p
    padding: 1rem 0

.search-tab
  margin: 2rem auto
  display: grid
  justify-content: center
  .search-input
    max-width: 900px
    input
      width: 70vw

.suggestion-bar
  display: flex
  height: calc(100% + 15px)
  box-sizing: initial
  overflow-x: scroll
  -webkit-overflow-scrolling: touch
  scroll-behavior: smooth
  margin: 1.5rem 0
  &:before, &::after
    width: 100px
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 95%,#fff)
    opacity: 1
  &:before
    left: 0
  &:after
    right: 0
  &::-webkit-scrollbar
    width: 0
    height: 0

  div
    padding-right: 4px

.clear-search
  cursor: default
  position: absolute
  line-height: 1
  text-align: center
  right: 0
  margin: 0
  height: 100%
  width: 2.67142857em
  opacity: .5
  border-radius: 0 .28571429rem .28571429rem 0
  transition: opacity .3s ease
  > i
    left: 0
    position: absolute
    text-align: center
    top: 50%
    width: 100%
    margin-top: -.5em
    transform: translate(-50%, -50%)

.bar
  margin-top: 2rem

.suggest-table
  max-width: 760px
  > tr
    margin: 0 37px

.result-list
  padding-bottom: 3rem
  column-count: 3
  column-gap: 10px

  @media (max-width: 992px)
    column-count: 2

  @media (max-width: 600px)
    margin: 0 1rem
    column-count: 1

.result
  padding-top: 10px
  line-height: 0

  > img
    width: 100%
    max-width: -webkit-fill-available
    max-width: -moz-available

.result-img
  flex: 100%
  margin-top: 1rem
  border-radius: 10px

.result-modal
  position: fixed
  top: 50%
  left: 50%
  max-height: 100vh
  transform: translate(-50%, -50%)
  background-color: white
  padding: 1rem
  &-profile
    border-radius: 40px
    width: 40px
    float: left
  &-text
    display: table
    padding: 0 1rem
    line-height: normal
    h4
      margin-bottom: 0
  &-photo
    width: 50vw
    margin: 1rem auto
    background-position: center
    background-size: contain
    background-repeat: no-repeat
  &-location
    font-weight: 500

.close-icon
  position: absolute
  top: 0
  right: 0
  width: 27px
  height: 27px
  margin: 1rem
  background: none
  outline: none
  border: none
  &::before, &::after
    content: ""
    position: absolute
    width: 25px
    height: 1px
    background: #444
    top: 10px
    left: 0
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)
